.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0px; 
}

h2 {
  font-size: 40pt; 
  margin: 15px; 
}

h3 {
  font-size: 19pt; 
}

#settings {
  display: flex; 
}

.settings-half {
  margin: 30px;   
}

.button {
  font-size: 30pt; 
  background: none; 
  border: none; 
  color: white; 
}

/* hide the ugly focus highlight 😀 */
.button:focus {
  outline: 0 !important;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: scale(0.9, 0.9);
}

#session-time {
  margin: 5px; 
}

#break-time {
  margin: 5px; 
}

#controls .button {
  margin: 10px; 
}